//360 x 645px for mobile ideally :)

$accent: rgba(#ff0000, 0.5);

@mixin title {
  font-family: 'Slabo 27px', serif;
  color: black;
  font-size: 23px;
}

@mixin link {
  font-family: 'Slabo 27px', serif;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-color: $accent;
  color: black;
}

@mixin homepageIcons {
  position: absolute;
  z-index: -1;
}

@mixin buttons {
  position: absolute;
  z-index: 10;
  cursor: pointer;
}

@mixin slider {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 5px;
}

body {
  margin: 0;
  color: black;
}

a {
  @include link;
}

span {
  @include title;
}

.container {
  max-width: 100%;
  height: 99.7vh;
  border: black 1px solid;
  font-size: 36px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* nav section begins */

.nav {
  height: 7%;
  background-color: black;
}

.logo {
  height: 11vw;
  width: 110px;
  vertical-align: top;
}

.nav span {
  font-size: 30px;
  margin-top: 20px;
  color: white;
}

/* nav section ENDS */

/* sound heat light settings begins */

.icon-settings {
  height: 30%;
  padding: 0.2em 0.5em 0em 0.5em;
}

.icon-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heat-i {
  @include homepageIcons;
 height: 35vh;
 width: 40vw;
 top: 9vh;
 left: -3vw;
}

.sound-i {
  @include homepageIcons;
  height: 14vh;
  left: 35.5vw;
  top: 13vh;
  width: 30vw;
}

.light-i {
  @include homepageIcons;
  right: -12vw;
  height: 31vh;
  top: 12vh;
  width: 48vw;
}

/* sound heat light settings ENDS */

/* room area begins */

.room-titles {
  position: absolute;
  left: 36vw;
  top: 30vh;
}

.room-titles > span {
  font-size: 32px;
}

.rooms {
  height: 57%;
  position: relative;
}

.room > img {
  height: 56vh;
  position: absolute;
  left: 0.15rem;
  bottom: 0.2em;
  z-index: -2;
  width: 98vw;
}

.rooms .img-btn {
  cursor: pointer;
  z-index: 5;
}

.bedroom .heat-btn-br,
.bedroom .light-btn-br,
.kitchen .sound-btn-kitchen,
.kitchen .light-btn-kitchen {
  opacity: 0.63;
}

.lounge .sound-btn-lounge {
  height: 11vh;
  width: 20vw;
  top: 28.8vh;
  left: 6vw;
}

.lounge .heat-btn-lounge {
  height: 32.5vh;
  width: 20.5vw;
  top: 3vh;
  left: 26vw;
}

.bedroom .heat-btn-br {
  height: 14vh;
  width: 18vw;
  top: 19.5vh;
  left: 58vw;
}

.bedroom .light-btn-br {
  height: 25vh;
  width: 12vw;
  top: 15.5vh;
  left: 80vw;
}

.kitchen .sound-btn-kitchen {
  height: 7.5vh;
  width: 9vw;
  top: 27.3vh;
  left: 12.5vw;
}

.kitchen .light-btn-kitchen {
  height: 14vh;
  width: 14vw;
  top: 3vh;
  left: 29vw;
}

.hiding {
  display: none;
}

#leftBtn {
  @include buttons;
  height: 4vh;
  left: 5vw;
  bottom: 10vh;
}

#rightBtn {
  @include buttons;
  height: 4vh;
  right: 5vw;
  bottom: 10vh;
}

/* room area ENDS */

/* footer section begins */

.footer {
  height: 5%;
  background-color: black;
}

.footer-text > span {
  color: white;
  float: left;
  font-size: 20px;
  padding-left: 10px;
}

.footer-btn > img {
  @include buttons;
  width: 30px;
  transform: rotate(90deg);
  bottom: -3.2vh;
  right: 8vw;
}

/* footer section ENDS */

/* ------------------------ */
/* heating page begins */

.heat-bg-img > img {
  position: absolute;
  z-index: -100;
  opacity: 0.1;
  left: 18vw;
  top: -1vh;
  height: 65vh;
}

.house-heat {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  margin-left: 2.5vh;
  margin-bottom: 3vh;
}

.house-heat-btn > img {
  height: 20vh;
}

.house-heat-btn:hover {
  cursor: pointer;
}

/* temp slider begins */

.temp-slide-container {
  margin-top: 0.9vh;
  text-align: left;
}

.temp-slide-container > span {
  padding-left: 3vw;
}

.temp-slider {
  @include slider;
  width: 70vw;
  background: $accent;
}

.temp-slider::-moz-range-thumb {
  @include slider;
  width: 30px;
  height: 30px;
  background: #2a2a2a;
  cursor: pointer;
}

.temp-value {
  text-align: center;
}

/* temp slider ENDS */

.heat-room-titles {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.room-btns {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.br-btns > img {
  height: 16vh;
  padding-left: 30vw;
  margin-top: -10vh;
  cursor: pointer;
}

.lounge-btns > img {
  height: 16vh;
  padding-right: 32vw;
  margin-top: -10vh;
  cursor: pointer;

}

.lounge-heat {
  position: absolute;
  // CHILL with the absolute
  right: -66vw;
  height: 63vh;
  bottom: -10vh;
  z-index: -50;
}

.l-heat-red {
  right: -7vw;
  position: absolute;
  height: 38vh;
  top: 49.5vh;
}

.br-heat {
  position: absolute;
  left: -66vw;
  height: 65vh;
  bottom: -10vh;
  z-index: -50;
}

.br-heat-red {
  position: absolute;
  left: 1.8vw;
  height: 16vh;
  top: 68vh;
  opacity: 0.8;
}

/* heating page ENDS */

/* ------------------------ */

/* sound page begins */

.container-sound {
  @extend .container;
  background-image: url("/img/music.png");
  background-repeat: repeat;
}

.sound-room {
  display: flex;
  justify-content: space-between;
  margin: 2em 2.5em 0em 2.5em;
}

.k-sound-img {
  position: absolute;
  height: 12vh;
  left: -2vw;
  top: 5.2vh;
}

.red-k {
  position: absolute;
  height: 12vh;
  left: 0.5vw;
  top: 5vh;
  opacity: 0.7;
}

.l-sound-img {
  position: absolute;
  height: 11vh;
  right: 0vw;
  top: 4vh;
}

.red-l {
  position: absolute;
  height: 12vh;
  right: 0vw;
  top: 3.5vh;
}

.l-sound-btn > img {
  left: 2em;
  height: 16vh;
  top: 13vh;
  transform: rotate(90deg);
  position: absolute;
  cursor: pointer;
}

.k-sound-btn > img {
  right: 2em;
  top: 13vh;
  height: 16vh;
  transform: rotate(90deg);
  position: absolute;
  cursor: pointer;
}

.spotify {
  margin-top: 13vh;
}

/* sound page ENDS */

/* ------------------------- */
/* lighting page begins */

.light-bg-img > img {
  position: absolute;
  z-index: -100;
  opacity: 0.1;
  left: 18vw;
  top: 8vh;
  height: 90vh;
}

.k-light {
  position: absolute;
  top: 7vh;
  height: 29vh;
  left: 23vw;
}

.k-light-red {
  position: absolute;
  top: 7vh;
  height: 29vh;
  left: 19.8vw;
  opacity: 0.7;
}

.br-light {
  position: absolute;
  left: 1vw;
  bottom: 0.5vh;
  height: 50vh;
}

.br-light-red {
  position: absolute;
  left: 0.2vw;
  bottom: 0.3vh;
  height: 50.5vh;
}

.light-slide-container {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  padding-top: 10%;
  margin-right: 10%;
  width: 50%;
}

.light-slider {
  @include slider;
  background: $accent;
}

.light-slider::-moz-range-thumb {
  @include slider;
  width: 20px;
  height: 20px;
  background: #2a2a2a;
  cursor: pointer;
}

.k-light-btn {
  @include buttons;
  height: 14vh;
  right: 7vw;
  top: 22vh;
}

.br-light-btn {
  @include buttons;
  height: 12vh;
  left: -8vw;
  top: 77vh;
}

.br-slide {
  margin-top: 50vh;
}

.go-back-btn {
  @include buttons;
  height: 4vh;
  left: 0.2vw;
  top: 0.2vh;
}

.go-back .go-back-btn {
  top: 7vh;
}

// lighting page ENDS


//media queries

//1366 x 1028

@media screen and (min-width: 420px){
  .logo {
    height: 98%;
    width: 20%;
  }
  a {
    font-size: 3rem;
  }
  span {
    font-size: 4rem;
  }
  .nav span {
    font-size: 4rem;
  }
  .room-titles {
    top: 28vh;
  }
  .room-titles span {
    font-size: 5rem;
  }
  .footer-text span {
    font-size: 2rem;
  }
  .footer-btn img {
    bottom: 0vh;
  }
  //homepage ENDS

  //heating page begins
  .heat-bg-img img {
    height: 90vh;
    top: 10vh;
    left: 25vw;
  }
  .l-heat-red,
  .br-heat-red {
    display: none;
  }
  //heating page ENDS

  //sound page begins
  .k-sound-img,
  .red-k,
  .l-sound-img,
  .red-l {
    display: none;
  }
  .l-sound-btn > img,
  .k-sound-btn > img {
    height: 30vh;
    padding-left: 10vw;
  }
  .spotify {
    height: 50vh;
    margin-top: 0.5vh;
  }
  //heating page ENDS

  //lighting page begins
  .k-light-red {
    left: 21vw;
  }
}
